@media ( max-width:1200px )
  .container
    max-width: 960px
  .header
    &__input
      width: 200px
  .logo
    &__image
      width: 143px
      height: auto
  .main
    max-width: 95%
@media  ( max-width: 992px )
  .container
    max-width: 95%
  .header
    &-wrapper
      flex-wrap: wrap
    &__menu
      margin-top: 15px
      order: 1
      flex-basis: 100%
    &__list
      justify-content: center
      margin: auto
  .main
    top: 150px
    &__description
      padding: 40px 40px 80px 40px
@media  ( max-width: 768px )
  .main
    flex-direction: column
    top: 100px
    &__description
      border-radius: 10px 10px 10px 10px
    &__recomendation
      border-radius: 10px 10px 10px 10px
    &-block
      width: 100%
      padding-right: 20px
      padding-left: 20px
    &__title
      font-size: 36px
  .user
    margin-bottom: 100px
@media  ( max-width: 600px )
  .header
    &__menu
      display: none
    &__form
      display: none
    &__button
      &-menu
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        height: 16px
        border-radius: 4px
        border: none
        background-color: $dark
      &-line
        height: 1px
        width: 16px
        background-color: $white
    &__modal
      &-dialog
        align-items: center
        position: absolute
        top: 70px
        left: 0
        right: 0
        background-color: $dark
        padding-bottom: 20px
        text-align: center
        display: block
        &--visible
          display: block
      &-item
        margin-bottom: 20px

      &-link
        margin-bottom: 30px
        font-family: "Lato-Black"
        font-style: normal
        font-weight: 900
        font-size: 14px
        line-height: 20px
        text-align: right
        color: $white

        &:hover
          color: $blue
@media  ( max-width: 576px )
  .nain
    &__description
      padding: 20px 20px 60px 20px
